
* {
    font-family: 'Yeon Sung', cursive;
}

.wrap {
    padding-top: 50px;
    padding-bottom: 150px;
    width: 700px; /*magin auto를 사용하기 위해선 가로의 크기를 꼭 선언해주어야 한다.*/
    margin: auto; /*자기가 가질수 있는 좌우 마진(자기 크기를 뺀 나머지를 자동으로 계산해준다.*/
}

.align-basic {
    position: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /*flex-direction에 대한 정렬*/
    align-items: center; /*justify-content의 수직방향을 정렬*/
    margin: auto;
}

.price {
    font-size: 16px;
    margin-left: 20px;
}

.image-size {
    width: 700px;
    height: 400px;
}

.button-size {
    width: 300px;
    margin-top: 50px;
}

